<ion-grid no-padding class="grid ion-margin-bottom">
  <ion-row class="full-height">
    <ion-col class="menu-column vertical-align" size-sm="1">
      <ion-menu-button size="large"></ion-menu-button>
    </ion-col>
    <ion-col size="12" size-md="7" class="photo-column vertical-align" no-padding>
      <ion-menu-button color="light" size="large" class="mobile-menu-button-position ion-float-left"></ion-menu-button>
      <div>
        <img id="photo-column-picture" src="../../assets/Anse_Rouge_AS.jpeg" alt="">
      </div>
    </ion-col>
    <ion-col size="12" size-md="4">
      <ion-row>
        <ion-col class="ion-justify-content-end ion-align-items-center display-logo">
          <ion-text>Le Toucan</ion-text>
          <div id="logo-wrap">
            <img src="../../assets/toucan.PNG" alt="Au Toucan">
          </div>
        </ion-col>
      </ion-row>
      <ion-slides pager="false" #bookingSlider>
        <ion-slide class="slide-flex-prop">
          <app-calendar class="calendar" [bookings]="bookings" (canBook)="onBook($event)"></app-calendar>
          <div class="validation">
            <ion-button *ngIf="canBook;else notAvailableMessage" [disabled]="!(booking.booking_start_date || booking.booking_end_date)"
              id="validationButton" (click)="swipeRight()">SUIV</ion-button>
            <ng-template #notAvailableMessage>
              <div class="danger-message">
                <ion-text color="danger"> La période sélectionnée n'est pas libre. Veuillez choisir d'autres dates
                </ion-text>
              </div>
            </ng-template>
          </div>
        </ion-slide>
        <ion-slide class="slide-flex-prop">
          <app-profileformbooking class="slide-component-width ion-margin-top"></app-profileformbooking>
          <div>
              <ion-button fill="outline" class="ion-margin-right" (click)="swipeLeft()">PREV</ion-button>
              <ion-button class="suiv-margin-left" [disabled]="!(booking.name && booking.number_of_persons)" (click)="swipeRight()">SUIV</ion-button>
          </div>
        </ion-slide>
        <ion-slide class="slide-flex-prop">
            <app-contactformbooking class="slide-component-width ion-margin-top"></app-contactformbooking>  
          <div>
              <ion-button fill="outline" class="ion-margin-right" (click)="swipeLeft()">PREV</ion-button>
              <ion-button class="suiv-margin-left" [disabled]="!(booking.phone_number && booking.email)" (click)="swipeRight()">SUIV</ion-button>
          </div>
        </ion-slide>
        <ion-slide class="slide-flex-prop">
          <div class="danger-message" *ngIf="bookingFailure">
            <ion-text color="danger"> Une erreur est survenue avec votre réservation. Veuillez réessayer.</ion-text>
          </div>
          <app-recap-booking [booking]="booking" class="slide-component-width ion-margin-top"></app-recap-booking>
          <div>
              <ion-button fill="outline" class="ion-margin-right" (click)="swipeLeft()">PREV</ion-button>
              <ion-button (click)="book()">Réserver</ion-button>
          </div>
        </ion-slide>
        <ion-slide class="slide-flex-prop">
          <app-booking-success class="slide-component-width ion-margin-top" [newBooking]="bookingCreated"></app-booking-success>
          <div>
            <ion-button (click)="goToHomePage()"> Aller à l'accueil</ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>