<ion-list lines="none">
    <ion-list-header>
        <ion-label>Votre réservation</ion-label>
      </ion-list-header>
      <ion-item >
          <ion-text>Nom: Schulz</ion-text>
        </ion-item>
      <ion-item >
        <ion-text>Email: benschuro@gmail.com</ion-text>
      </ion-item>
      <ion-item>
            <ion-text>Tel: 0783077460</ion-text>
      </ion-item>
      <ion-item>
          <ion-text>Nbr personnes:  6</ion-text> 
      </ion-item>
      <ion-item>
            <ion-text>Commentaires: Est-ce accessible pour les handicapés ?</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>Du 19/06/19 Au 25/06/19</ion-text>
      </ion-item>
</ion-list>
