<ion-list lines="none">
    <ion-list-header>
        <ion-label>Votre réservation</ion-label>
      </ion-list-header>
      <ion-item >
          <ion-text>Nom: {{booking.name}}</ion-text>
        </ion-item>
      <ion-item >
        <ion-text>Email: {{booking.email}}</ion-text>
      </ion-item>
      <ion-item>
            <ion-text>Tel: {{booking.phone_number}}</ion-text>
      </ion-item>
      <ion-item>
          <ion-text>Nbr personnes: {{booking.number_of_persons}}</ion-text> 
      </ion-item>
      <ion-item *ngIf="booking.comments">
            <ion-text>Commentaires: {{booking.comments}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-text>Du {{booking.booking_start_date.format('DD MMM YYYY')}} Au {{booking.booking_end_date ? booking.booking_end_date.format('DD MMM YYYY'): 
            booking.booking_start_date.format('DD MMM YYYY')}}</ion-text>
      </ion-item>
</ion-list>
