#logo-wrap {
    width: 80px;
    height: auto;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.vertical-align {
    align-items: center;
}

.menu-column {
    display: flex;
    height: 100%;
}

.photo-column {
    height: 100%;
    display: flex;
    align-items: center;
}

.actions-column {
    height: 80%;
    display: flex;
    align-items: center;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.display-logo {
    display: flex;
}

.header {
    display: none;
}

@media screen and (max-width: 768px)  {
    .menu-column {
        display: none;
    }

    .header {
        display: block;
    }

    .display-logo {
        display: none;
    }

    .photo-column {
        height: auto;
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    .actions-column {
        display: flex;
        align-items: center;
    }
}


