.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.vertical-align {
    align-items: center;
}

.grid {
    margin-left: 0;
    margin-right: 0;
}

.menu-column {
    display: flex;
    height: 100%;
}

.photo-column {
    height: 100%;
    display: flex;
    align-items: center;
}

.actions-column {
    height: 80%;
    display: flex;
    align-items: center;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.display-logo {
    display: flex;
}

@media screen and (max-width: 768px)  {
    .menu-column {
        display: none;
    }

    .full-height {
        height: 85%;
    }

    .display-logo {
        display: none;
    }

    .photo-column {
        height: auto;
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    .actions-column {
        display: flex;
        align-items: center;
    }
}


