<ion-header no-border>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="logo">
        <img src="../../assets/toucan.PNG" alt="Au Toucan">
    </div>
  </ion-toolbar>
</ion-header>

<ion-grid fixed class="grid">
  <ion-row class="grid-row-size ion-text-center">
    <ion-col>
      <div>
          <ion-text color="light">
              <h1>Bienvenue à Noirmoutier</h1>
          </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
          <ion-button fill="outline" color="light" size="large">
            Réserver
          </ion-button>
    </ion-col>
    <ion-col>
        <ion-button fill="outline" color="light" size="large">Découvrir la maison</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

