#logo-wrap {
    width: 80px;
    height: auto;
}

.grid {
    background-image: url(../../assets/noirmoutier_from_iss.jpg);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat; 
    margin-bottom: 1%;
    margin-top: 2%;
}

.grid-row-size {
    height: 85%;
}



